<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Photo Management App!</h1>
    <p class="lead">You'll love managing your Photos with our application. Sign up!</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4 d-flex flex-column">
      <h2>Premium Plan</h2>
      <div>Price: $10</div>
      <ul>
        <li>Unlimited Image Uploads</li>
        <li>Responsive design</li>
        <li>Access anywhere</li>
      </ul>
      <p class="mt-auto">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
      </p>
    </div>
    <div class="col-lg-4 d-flex flex-column">
      <h2>Amaze Plan</h2>
      <div>Price: $20</div>
      <ul>
        <li>Unlimited Image Uploads</li>
        <li>Responsive design</li>
        <li>Access anywhere</li>
        <li>Unlimited projects</li>
      </ul>
      <p class="mt-auto">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
<% end %>
