@import "bootstrap/scss/bootstrap";

.jumbotron {
  background-image: asset-url("meeting.png");
  background-size: cover;
  color: $white;
  text-align: center;
  text-shadow: -1px 0 $dark, 0 1px $dark, 1px 0 $dark, 0 -1px $dark;
}
